@import url("https://fonts.googleapis.com/css?family=Poppins:500,700|Roboto:400,500");

body {
    line-height: 24px;
    font-size: 14px;
    font-family: "Roboto", sans-serif;
    font-weight: 400;
    background: #fff;
    overflow-x: hidden;
}

html,
body {
    height: 100%;
}

ul {
    margin: 0;
    padding: 0;
    list-style: none;
}

h1,
h2,
h3,
h4,
h5,
h6 {
    font-family: "Poppins", sans-serif;
    color: #222222;
    font-weight: 500;
    line-height: 1.2 !important;
}

.list {
    list-style: none;
    margin: 0px;
    padding: 0px;
}

a {
    text-decoration: none;
    transition: all 0.3s ease-in-out;
}

a:hover,
a:focus {
    text-decoration: none;
    outline: none;
}

button:focus {
    outline: none;
    box-shadow: none;
}

.sample-text-area {
    background: #fff;
    padding: 100px 0 70px 0;
}

.text-heading {
    margin-bottom: 30px;
    font-size: 24px;
}

b,
sup,
sub,
u,
del {
    color: #ffba00;
}

h1 {
    font-size: 36px;
}

h2 {
    font-size: 30px;
}

h3 {
    font-size: 24px;
}

h4 {
    font-size: 18px;
}

h5 {
    font-size: 16px;
}

h6 {
    font-size: 14px;
}

h1,
h2,
h3,
h4,
h5,
h6 {
    line-height: 1.5em;
}

.typography h1,
.typography h2,
.typography h3,
.typography h4,
.typography h5,
.typography h6 {
    color: #777777;
}

.sticky-wrapper {
    position: absolute;
    top: 40px;
    width: 100%;
}

@media (max-width: 991px) {
    .sticky-wrapper {
        top: 0;
    }
}

.is-sticky .header_area .main_menu .main_box {
    max-width: 100%;
    margin-top: 0;
    -webkit-transition: all 0.3s ease 0s;
    -moz-transition: all 0.3s ease 0s;
    -o-transition: all 0.3s ease 0s;
    transition: all 0.3s ease 0s;
}

.is-sticky .header_area #search_input_box {
    max-width: 100%;
}

.sticky-wrapper {
    position: absolute;
    top: 40px;
    width: 100%;
}

@media (max-width: 991px) {
    .sticky-wrapper {
        top: 0;
    }
}

.header_area {
    position: absolute;
    width: 100%;
    top: 0;
    left: 0;
    z-index: 99;
    transition: background 0.4s, all 0.3s linear;
    -webkit-transition: all 0.3s ease 0s;
    -moz-transition: all 0.3s ease 0s;
    -o-transition: all 0.3s ease 0s;
    transition: all 0.3s ease 0s;
}

.header_area .main_menu .main_box {
    background: #fff;
    margin: 0px auto 0;
    max-width: 1200px;
    box-shadow: 0 10px 30px rgba(0, 0, 0, 0.1);
    -webkit-transition: all 0.3s ease 0s;
    -moz-transition: all 0.3s ease 0s;
    -o-transition: all 0.3s ease 0s;
    transition: all 0.3s ease 0s;
}

.header_area .navbar {
    background: #fff;
    padding: 0px;
    border: 0px;
    border-radius: 0px;
}

@media (max-width: 991px) {
    .header_area .navbar .navbar-collapse {
        margin-top: 30px;
    }

    .header_area .navbar .navbar-collapse .nav-item {
        padding: 10px;
    }
}

.header_area .navbar .navbar-toggler .icon-bar {
    color: #000;
    height: 2px;
    width: 20px;
    content: "";
    background: #000;
    display: block;
    margin: 5px;
}

.header_area .navbar .nav .nav-item {
    margin-right: 45px;
}

.header_area .navbar .nav .nav-item .nav-link {
    text-transform: uppercase;
    padding: 0px;
    display: inline-block;
    font-size: 12px;
    font-weight: 500;
    color: #222222;
}

@media (min-width: 991px) {
    .header_area .navbar .nav .nav-item .nav-link {
        padding: 10px 0;
    }
}

.header_area .navbar .nav .nav-item .nav-link:after {
    display: none;
}

.header_area .navbar .nav .nav-item:hover .nav-link,
.header_area .navbar .nav .nav-item.active .nav-link {
    color: #ffba00;
}

.header_area .navbar .nav .nav-item.submenu {
    position: relative;
}

.header_area .navbar .nav .nav-item.submenu ul {
    border: none;
    padding: 0px;
    border-radius: 0px;
    box-shadow: none;
    margin: 0px;
    background: #fff;
}

@media (min-width: 992px) {
    .header_area .navbar .nav .nav-item.submenu ul {
        position: absolute;
        top: 140%;
        left: 0px;
        min-width: 200px;
        text-align: left;
        opacity: 0;
        -webkit-transition: visibility 0.5s ease;
        -moz-transition: visibility 0.5s ease;
        -o-transition: visibility 0.5s ease;
        transition: visibility 0.5s ease;
        visibility: hidden;
        display: block;
    }
}

.header_area .navbar .nav .nav-item.submenu ul:before {
    content: "";
    width: 0;
    height: 0;
    border-style: solid;
    border-width: 10px 10px 0 10px;
    border-color: #eeeeee transparent transparent transparent;
    position: absolute;
    right: 24px;
    top: 45px;
    z-index: 3;
    opacity: 0;
    -webkit-transition: all 0.3s ease 0s;
    -moz-transition: all 0.3s ease 0s;
    -o-transition: all 0.3s ease 0s;
    transition: all 0.3s ease 0s;
}

.header_area .navbar .nav .nav-item.submenu ul .nav-item {
    display: block;
    float: none;
    margin-right: 0px;
    border-bottom: 1px solid #ededed;
    margin-left: 0px;
    -webkit-transition: all 0.3s ease 0s;
    -moz-transition: all 0.3s ease 0s;
    -o-transition: all 0.3s ease 0s;
    transition: all 0.3s ease 0s;
}

.header_area .navbar .nav .nav-item.submenu ul .nav-item.active {
    background: #ffba00;
}

.header_area .navbar .nav .nav-item.submenu ul .nav-item.active .nav-link {
    color: #fff;
}

.header_area .navbar .nav .nav-item.submenu ul .nav-item .nav-link {
    line-height: 45px;
    padding: 0px 30px;
    -webkit-transition: all 0.3s ease 0s;
    -moz-transition: all 0.3s ease 0s;
    -o-transition: all 0.3s ease 0s;
    transition: all 0.3s ease 0s;
    display: block;
    margin-right: 0px;
}

.header_area .navbar .nav .nav-item.submenu ul .nav-item:last-child {
    border-bottom: none;
}

.header_area .navbar .nav .nav-item.submenu ul .nav-item:hover .nav-link {
    background: #ffba00;
    color: #fff;
}

@media (min-width: 992px) {
    .header_area .navbar .nav .nav-item.submenu:hover ul {
        visibility: visible;
        opacity: 1;
    }
}

.header_area .navbar .nav .nav-item.submenu:hover ul .nav-item {
    margin-top: 0px;
}

.header_area .navbar .nav .nav-item:last-child {
    margin-right: 0px;
}

@media (min-width: 991px) {
    .header_area .navbar .nav.navbar-nav.navbar-right {
        display: -webkit-inline-box;
    }
}

.header_area .navbar .nav.navbar-nav.navbar-right li {
    margin-left: 25px;
    margin-right: 0px;
}

@media (max-width: 991px) {
    .header_area .navbar .nav.navbar-nav.navbar-right li {
        margin-left: 0px;
    }
}

.header_area .navbar .nav.navbar-nav.navbar-right li:first-child {
    margin-left: 35px;
}

@media (max-width: 991px) {
    .header_area .navbar .nav.navbar-nav.navbar-right li:first-child {
        display: none;
    }
}

.header_area .navbar .nav.navbar-nav.navbar-right li span {
    color: #222222;
    line-height: 80px;
    font-weight: 500;
}

.header_area .navbar .nav.navbar-nav.navbar-right .search {
    background: transparent;
    border: 0;
    cursor: pointer;
    padding: 0;
}

.banner-area {
    background: url(../img/banner/banner-bg.jpg) center no-repeat;
    background-size: cover;
    position: relative;
}

@media (max-width: 768px) {
    .banner-area .fullscreen {
        height: 650px !important;
    }
}

.banner-area .active-banner-slider .owl-nav {
    position: absolute;
    right: 0;
    bottom: -200px;
}

@media (max-width: 1920px) {
    .banner-area .active-banner-slider .owl-nav {
        right: -115px;
    }
}

@media (max-width: 1680px) {
    .banner-area .active-banner-slider .owl-nav {
        right: 0px;
    }
}

@media (max-width: 991px) {
    .banner-area .active-banner-slider .owl-nav {
        display: none;
    }
}

.banner-area .active-banner-slider .owl-nav .owl-prev,
.banner-area .active-banner-slider .owl-nav .owl-next {
    display: inline-block;
    margin: 10px;
    opacity: .5;
    -webkit-transition: all 0.3s ease 0s;
    -moz-transition: all 0.3s ease 0s;
    -o-transition: all 0.3s ease 0s;
    transition: all 0.3s ease 0s;
}

.banner-area .active-banner-slider .owl-nav .owl-prev:hover,
.banner-area .active-banner-slider .owl-nav .owl-next:hover {
    opacity: 1;
}

.banner-area .banner-content {
    padding-left: 10px;
}

@media (max-width: 991px) {
    .banner-area .banner-content {
        padding-left: 0;
    }
}

.banner-area .banner-content h1 {
    font-size: 60px;
    line-height: 66px;
    font-weight: 700;
    margin-bottom: 30px;
}

@media (max-width: 767px) {
    .banner-area .banner-content h1 {
        font-size: 35px;
        line-height: 46px;
    }
}

.banner-area .banner-content p {
    margin: 0;
}

@media (max-width: 991px) {
    .banner-area .banner-img {
        display: none;
    }
}

#search_input_box {
    background: -webkit-linear-gradient(270deg, #ffba00 0%, #ff6c00 100%);
    background: -moz-linear-gradient(270deg, #ffba00 0%, #ff6c00 100%);
    background: -o-linear-gradient(270deg, #ffba00 0%, #ff6c00 100%);
    background: linear-gradient(270deg, #ffba00 0%, #ff6c00 100%);
}

#search_input_box {
    position: fixed;
    left: 50%;
    -webkit-transform: translateX(-50%);
    -moz-transform: translateX(-50%);
    -ms-transform: translateX(-50%);
    -o-transform: translateX(-50%);
    transform: translateX(-50%);
    width: 100%;
    max-width: 1200px;
    z-index: 999;
    text-align: center;
    padding: 5px 20px;
}

#search_input_box .form-control {
    background: transparent;
    border: 0;
    color: #ffffff;
    font-weight: 400;
    font-size: 15px;
    padding: 0;
}

#search_input_box .form-control:focus {
    box-shadow: none;
    outline: none;
}

#search_input_box input.placeholder {
    color: #ffffff;
    font-size: 14px;
}

#search_input_box input:-moz-placeholder {
    color: #ffffff;
    font-size: 14px;
}

#search_input_box input::-moz-placeholder {
    color: #ffffff;
    font-size: 14px;
}

#search_input_box input::-webkit-input-placeholder {
    color: #ffffff;
    font-size: 14px;
}

#search_input_box .btn {
    width: 0;
    height: 0;
    padding: 0;
    border: 0;
}

#search_input_box .bi-x {
    color: #fff;
    font-weight: 600;
    cursor: pointer;
    padding: 10px 3px;
}

.primary-btn,
.add-bag .add-btn,
.single-product .product-details .prd-bottom .social-info span:after,
.pagination a.active,
.pagination a:hover,
.s_Product_carousel .owl-dots div.active,
.s_product_text .card_area .icon_btn:after,
.product_description_area .nav.nav-tabs li a.active,
.blog-pagination .page-item.active .page-link,
.single-footer-widget .click-btn {
    background: -webkit-linear-gradient(90deg, #ffba00 0%, #ff6c00 100%);
    background: -moz-linear-gradient(90deg, #ffba00 0%, #ff6c00 100%);
    background: -o-linear-gradient(90deg, #ffba00 0%, #ff6c00 100%);
    background: linear-gradient(90deg, #ffba00 0%, #ff6c00 100%);
}

.single-product {
    margin-bottom: 50px;
    border: 1px solid #cbcaca;
    padding: 10px;
}

.single-product img {
    margin-bottom: 20px;
    width: 100%;
    padding: 10px;
    border-bottom: 1px solid #cbcaca;
}

.single-product .product-details h6 {
    font-size: 16px;
    text-transform: uppercase;
}

.single-product .product-details .price h6 {
    font-size: 14px;
    display: inline-block;
    padding-right: 15px;
    margin: 0;
}

.single-product .product-details .price .l-through {
    text-decoration: line-through;
    color: #cccccc;
    margin-bottom: 0;
}

.single-product .product-details .prd-bottom {
    position: relative;
    margin-top: 20px;
}

.single-product .product-details .prd-bottom .social-info {
    position: relative;
    display: inline-block;
    width: 35px;
    -webkit-transition: all 0.3s ease 0s;
    -moz-transition: all 0.3s ease 0s;
    -o-transition: all 0.3s ease 0s;
    transition: all 0.3s ease 0s;
    overflow: hidden;
}

.single-product .product-details .prd-bottom .social-info span {
    position: relative;
    height: 30px;
    width: 30px;
    line-height: 30px;
    text-align: center;
    background: #828bb2;
    border-radius: 50%;
    display: inline-block;
    color: #fff;
    -webkit-transition: all 0.3s ease 0s;
    -moz-transition: all 0.3s ease 0s;
    -o-transition: all 0.3s ease 0s;
    transition: all 0.3s ease 0s;
    z-index: 1;
}

.single-product .product-details .prd-bottom .social-info span:after {
    position: absolute;
    left: 0;
    top: 0;
    height: 100%;
    width: 100%;
    content: "";
    border-radius: 50%;
    opacity: 0;
    visibility: hidden;
    z-index: -1;
}

.single-product .product-details .prd-bottom .social-info .hover-text {
    position: absolute;
    left: 0;
    top: 3px;
    width: 100px;
    left: -40px;
    text-transform: uppercase;
    font-family: "Poppins", sans-serif;
    font-weight: 500;
    font-size: 12px;
    color: #222222;
    -webkit-transition: all 0.3s ease 0s;
    -moz-transition: all 0.3s ease 0s;
    -o-transition: all 0.3s ease 0s;
    transition: all 0.3s ease 0s;
    opacity: 0;
    visibility: hidden;
}

.single-product .product-details .prd-bottom .social-info:hover {
    width: 115px;
}

.single-product .product-details .prd-bottom .social-info:hover span:after {
    opacity: 1;
    visibility: visible;
}

.single-product .product-details .prd-bottom .social-info:hover .hover-text {
    opacity: 1;
    visibility: visible;
    left: 40px;
}

/*============================================================================================*/
/*============================================================================================*/

.exclusive-deal-area .exclusive-left {
    position: realtive;
    background: url(../img/exclusive.jpg) center no-repeat;
    background-size: cover;
    text-align: center;
    padding: 100px 0;
}

@media (max-width: 1024px) {
    .exclusive-deal-area .exclusive-left {
        padding: 175px 0;
    }
}

.exclusive-deal-area .exclusive-left:before {
    position: absolute;
    left: 0;
    top: 0;
    height: 100%;
    width: 100%;
    content: "";
    opacity: .5;
}


.exclusive-deal-area .exclusive-left .clock_sec {
    padding: 0 190px;
}

@media (max-width: 1680px) {
    .exclusive-deal-area .exclusive-left .clock_sec {
        padding: 0 135px;
    }
}

@media (max-width: 1440px) {
    .exclusive-deal-area .exclusive-left .clock_sec {
        padding: 0 75px;
    }
}

@media (max-width: 991px) {
    .exclusive-deal-area .exclusive-left .clock_sec {
        padding: 0 220px;
    }
}

@media (max-width: 767px) {
    .exclusive-deal-area .exclusive-left .clock_sec {
        padding: 0 130px;
    }
}

@media (max-width: 575px) {
    .exclusive-deal-area .exclusive-left .clock_sec {
        padding: 0 15px;
    }
}

.exclusive-deal-area .exclusive-left .clock_sec.row {
    margin-right: 0;
    margin-left: 0;
}

.exclusive-deal-area .exclusive-left .clock_sec h1 {
    font-size: 36px;
    color: #fff;
    margin: 0;
}

@media (max-width: 1380px) {
    .exclusive-deal-area .exclusive-left .clock_sec h1 {
        font-size: 30px;
    }
}

.exclusive-deal-area .exclusive-left .clock_sec p {
    color: #fff;
    margin-bottom: 30px;
}

.exclusive-deal-area .exclusive-left .clock_sec .clock-wrap {
    background: #fff;
    padding: 18px 0;
    border-radius: 5px;
}

.exclusive-deal-area .exclusive-left .clock_sec .clock-wrap .clockinner {
    color: #222222;
    border-right: 1px solid #eee;
}

.exclusive-deal-area .exclusive-left .clock_sec .clock-wrap .clockinner h1 {
    color: #222222;
    margin-bottom: 0;
}

.exclusive-deal-area .exclusive-left .primary-btn {
    margin-top: 40px;
}

.primary-btn {
    position: relative;
    overflow: hidden;
    color: #fff;
    padding: 0 30px;
    line-height: 50px;
    border-radius: 50px;
    display: inline-block;
    text-transform: uppercase;
    font-weight: 500;
    cursor: pointer;
    -webkit-transition: all 0.3s ease 0s;
    -moz-transition: all 0.3s ease 0s;
    -o-transition: all 0.3s ease 0s;
    transition: all 0.3s ease 0s;
}

.primary-btn:before {
    position: absolute;
    left: -145px;
    top: 0;
    height: 100%;
    width: 100%;
    content: "";
    background: #000;
    opacity: 0;
    -webkit-transform: skew(40deg);
    -moz-transform: skew(40deg);
    -ms-transform: skew(40deg);
    -o-transform: skew(40deg);
    transform: skew(40deg);
    -webkit-transition: all 0.3s ease 0s;
    -moz-transition: all 0.3s ease 0s;
    -o-transition: all 0.3s ease 0s;
    transition: all 0.3s ease 0s;
}

.primary-btn:hover {
    color: #fff;
}

.primary-btn:hover:before {
    left: 180px;
    opacity: .3;
}

/*============================================================================================ */
.section_gap {
    padding: 100px 0;
}

@media (max-width: 991px) {
    .section_gap {
        padding: 80px 0;
    }
}

.section_gap_bottom {
    padding-bottom: 100px;
}

@media (max-width: 991px) {
    .section_gap_bottom {
        padding-bottom: 80px;
    }
}

.footer-area {
    padding-top: 100px;
    background-color: #222222;
}

.footer-area h6 {
    color: #fff;
    margin-bottom: 25px;
    font-size: 18px;
    font-weight: 600;
}

.footer-area p{
    color: #777;
}

@media (max-width: 767px) {
    .footer-area h6 {
        margin-bottom: 15px;
    }
}

@media (max-width: 991px) {
    .single-footer-widget {
        margin-bottom: 40px;
    }
}

.footer-social a {
    padding-right: 25px;
    -webkit-transition: all 0.3s ease 0s;
    -moz-transition: all 0.3s ease 0s;
    -o-transition: all 0.3s ease 0s;
    transition: all 0.3s ease 0s;
}

.footer-social a:hover i {
    color: #ffba00;
}

.footer-social i {
    color: #cccccc;
    -webkit-transition: all 0.3s ease 0s;
    -moz-transition: all 0.3s ease 0s;
    -o-transition: all 0.3s ease 0s;
    transition: all 0.3s ease 0s;
}

.single-footer-widget .form-inline {
    display: inline-block;
    width: 100%;
}

.single-footer-widget input {
    border: none;
    width: 80% !important;
    font-weight: 300;
    background: #fff;
    color: #777;
    padding-left: 20px;
    border-radius: 0;
    font-size: 14px;
}

.single-footer-widget input:focus {
    outline: none;
    box-shadow: none;
}

.single-footer-widget input.placeholder {
    color: #ccc;
}

.single-footer-widget input:-moz-placeholder {
    color: #ccc;
}

.single-footer-widget input::-moz-placeholder {
    color: #ccc;
}

.single-footer-widget input::-webkit-input-placeholder {
    color: #ccc;
}

.single-footer-widget .bb-btn {
    color: #fff;
    font-weight: 300;
    border-radius: 0;
    z-index: 9999;
    cursor: pointer;
}

.single-footer-widget .info {
    position: absolute;
    margin-top: 5%;
    color: #fff;
    font-size: 12px;
}

.single-footer-widget .info.valid {
    color: green;
}

.single-footer-widget .info.error {
    color: red;
}

.single-footer-widget .click-btn {
    color: #fff;
    border-radius: 0;
    border-top-left-radius: 0px;
    border-bottom-left-radius: 0px;
    padding: 6px 12px;
    border: 0;
}

.single-footer-widget .click-btn:focus {
    outline: none;
    box-shadow: none;
}

.single-footer-widget ::-moz-selection {
    /* Code for Firefox */
    background-color: #191919 !important;
    color: #777777;
}

.single-footer-widget ::selection {
    background-color: #191919 !important;
    color: #777777;
}

.single-footer-widget ::-webkit-input-placeholder {
    /* WebKit, Blink, Edge */
    color: #777777;
    font-weight: 300;
}

.single-footer-widget :-moz-placeholder {
    /* Mozilla Firefox 4 to 18 */
    color: #777777;
    opacity: 1;
    font-weight: 300;
}

.single-footer-widget ::-moz-placeholder {
    /* Mozilla Firefox 19+ */
    color: #777777;
    opacity: 1;
    font-weight: 300;
}

.single-footer-widget :-ms-input-placeholder {
    /* Internet Explorer 10-11 */
    color: #777777;
    font-weight: 300;
}

.single-footer-widget ::-ms-input-placeholder {
    /* Microsoft Edge */
    color: #777777;
    font-weight: 300;
}

.footer-text {
    padding-top: 80px;
}

@media (max-width: 991px) {
    .footer-text {
        padding-top: 40px;
    }
}

.footer-text a,
.footer-text i {
    color: #ffba00;
}

.instafeed {
    margin: -5px;
}

.instafeed li {
    overflow: hidden;
    width: 25%;
}

.instafeed li a {
    margin: 5px;
    color: #777;
}